body {
  background-color: #FFF2F2;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  position: sticky;
  background-color: fff;
  margin: 0;
  background-color: #FFF2F2;
}

.header h1 {
  font-size: 4rem;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  margin-left: 6rem;
  color: #FF577F;
  margin-bottom: 0;
}

.header svg {
  display: block;
  margin: 0;
  padding-bottom: 3rem;
}

.header a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #7D6E83;
  line-height: 0;
  padding-left: 6rem;
}

.title-page {
  font-family: 'Montserrat', sans-serif;
  font: bold;
  line-height: 2;
  font-size: 400;
  text-align: center;
  color: #FF9494;
}

.prof-img {
    margin-top: 3rem;
  width: 15%;
  border-radius: 50%;
  background-color: #FFD1D1;
  float: left;
}

.introduction {
  overflow-wrap: break-word;
}

.introduction-text {
    width: 30%;
  padding-right: 10%;
  padding-left: 20%;
  padding-top: 4%;
  padding-bottom: 10%;
  color: black;
}

.prof-img-div {}

/* book */
.book {
  padding-top: 2rem;
  margin: 2rem;
  background-color: #FFD1D1;
  border-radius: 20%;
  width: 70%;
}

.nice-h2 {
  font-family: 'Sacramento', cursive;
  color: #FF577F;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
  ;
}

.book img {
  width: 50;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.book p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
}

/* recipe */
.recipe {
  background-color: #DFD3C3;
  padding-top: 5%;
  border-radius: 2%;
  margin: 2rem;
}

.title-recipe {
  text-align: center;
  color: #FF9494;
}

.food-row {
  background-color: #FFE3E1;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  padding-left: 3rem;
}

.recipe h3 {}

.food-img-div {
  margin: 2%;
  width: 10rem;
  float: right;
  padding: 1rem;
  border-radius: 25%;
  background-color: white;
}

.food-img {
  border-radius: 25%;
  width: 10rem;
  height: 10rem;
}

.food-prep {
  background-color: #FFF2F2;
  padding: 2%;
}

.food-instruction {
  overflow-wrap: break-word;
  background-color: #FFF2F2;
}

.food-time {
  background-color: #FFE3E1;
  margin-left: 4rem;
  margin: 1rem;
}

/* footer */
.footer {
  background-color: #FF577F;
}

.footer img {
  width: 3rem;
  padding: 0.5rem;
}

.social-media {
  width: 15rem;
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.footer p{
    padding-bottom: 2rem;
    color: white;
}

/* CONTACT ME */
.contact-me{
    padding: 5rem;
}

/* ABOUT ME*/
.about-me{
    padding: 5rem;
}
.about-me img{
    border-radius: 25%;
    margin-top: 4rem;
}

